name: Security

on:
  push:
    branches:
      - develop
      - main
      - 'support/*'
  pull_request:
  workflow_dispatch:

jobs:
  security:
    uses: ardge-labs/github-workflows/.github/workflows/go-security.yml@v1
    with:
      go-version: '1.25.4'
